@font-face {
    font-family: 'Besom';
    font-weight: bold;
    src: url(font/Besom.ttf) format('truetype');
    unicode-range: U+0020−007F;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FAriQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0020−007F;
}
body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1000;
    background-image: url('images/bg.jpg');
    background-size: cover;
}
header {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .3);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Besom', 'Raleway', sans-serif;
}
h1 {
    font-size: 8em;
}
button {
    border: none;
    background: none;
    margin-top: 50px;
    font-size: 2em;
    font-family: 'Besom', 'Raleway', sans-serif;
    color: white;
    padding: 20px 20px 15px;
    border: solid 3px white;
    transition: .3s;
    cursor: pointer;
    outline: none;
}
button:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.5);
    transition: .3s;
}
a {
    color: inherit;
}
a:hover {
    text-decoration: none;
}
article {
    background: black;
    color: white;
    padding: 50px;
    font-size: 1.3em;
}
strong {
    color: #0097B6;
}
.column-3 {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    margin: 0 1%;
}
article:nth-of-type(2) {
    background: white;
    color: #333;
}
article h2 {
    text-align: center;
    font-size: 3em;
}
.twitter {
    margin: 3em;
}
.pledge-button {
    font-size: 2em;
    font-family: 'Besom';
    text-align: center;
}
.pledge-button a {
    text-decoration: none;
    text-align: center;
    border-bottom: solid 1px #aaa;
    padding: -20px;
    transition: .2s;
}
.pledge-button a:hover {
    border-bottom-color: black;
    transition: .2s;
}
#tweets:after {
    content: "";
    display: table;
    clear: both;
}
#tweets li {
    width: 80%;
    margin: 0 auto;
    float: none;
    list-style-type: none;
}
@media (min-width: 48em) {
    #tweets li {
        width: calc(100% / 3);
        float: left;
    }
}
#tweets a {
    text-decoration: none;
}
#tweets .user {
    padding: 20px 20px 16px;
    position: relative;
}
#tweets .user a span {
    display: block;
    text-align: left;
    font-weight: bold;
}
#tweets .user a img[data-scribe="element:avatar"] {
    float: left;
    border-radius: 100%;
    margin-right: 6px;
}
#tweets .user a span[data-scribe="element:name"] {
    font-size: 1em;
}
#tweets .user a span[data-scribe="element:verified_badge"] {
    display: none;
    height: -10px;
}
#tweets .user a span[data-scribe="element:screen_name"] {
    font-size: .9em;
    color: grey;
}
#tweets .tweet {
    margin: 0;
    padding: 10px 20px;
}
#tweets .tweet a[data-scribe="element:url"] {
    text-decoration: underline;
}
#tweets .tweet a[data-scribe="element:hashtag"] {
    color: grey;
    text-decoration: none;
}
#tweets .tweet img[aria-label^="Emoji"] {
    max-height: 1em;
    vertical-align: middle;
}
#tweets .timePosted {
    margin: 0;
    padding: 0 20px;
    font-size: 14px;
    text-align: left;
    position: relative;
    bottom: 0;
}
#tweets .timePosted:before {
    font-family: "Fontawesome";
    -webkit-font-smoothing: antialiased;
    content: "";
    padding-right: 4px;
}
hr {
    width: 20%;
    background: linear-gradient(to right, white, #333, white);
    border: 0;
    height: 1px;
}
.map h3 {
    font-size: 2em;
}
.map {
}
iframe {
    border: 0;
    margin: auto;
}
