h2:last-child {
    margin-top: 50px;
    font-size: 2em;
}
h2:last-child a {
    border: none;
    text-decoration: none;
    padding: 20px 20px 15px;
    border: solid 3px white;
    transition: .3s;
}
h2:last-child a:hover {
    background: rgba(255,255,255,0.1);
    border-color: rgba(255,255,255,0.5);
    transition: .3s;
}
